<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
    typeAliases:起别名，也就意味着给pojo包下所有的类起了别名（别名就是类名）
    -->
    <typeAliases>
        <!--使用包加载后，默认的别名就是类名，不区分大小写-->
        <package name="com.itheima.pojo"/>
    </typeAliases>
    
    <!--
    environments: 配置数据连接环境信息，可配置多个environment,可以通过default属性切换不同的environment
    -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <!--数据库的连接信息-->
                <property name="driver" value="com.mysql.jdbc.Driver"/>
                <property name="url" value="jdbc:mysql:///mybatis?useSSL=false"/>
                <property name="username" value="root"/>
                <property name="password" value="admin123"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--加载sql的映射文件-->
        <!--<mapper resource="com/itheima/mapper/UserMapper.xml"/>-->
        
        <!--Mapper代理方式：直接使用包扫描-->
        <!-- 要求：定义与SQL映射文件同名的Mapper接口，并且将Mapper接口和SQL映射文件放置在同一目录下。-->
        <package name="com.itheima.mapper"/>
    </mappers>
</configuration>
